*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

html{
    scroll-behavior: smooth;
    box-shadow: no;
}

body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background: #ad5389;
    background: -webkit-linear-gradient(to right, #3c1053, #ad5389);  
    background: linear-gradient(to right, #3c1053, #ad5389) 
    !important;
    background-attachment:fixed !important;
    position: relative;
    padding-bottom: 3em;
    min-height: 170vh;
}

h1{ font-size: 3.5em;}
h2{ font-size: 2.7em;}
h3{ font-size: 2em;}
p{ font-size: 1.25em;}
ul{ list-style: none;}
li{ font-size: 1.25em;}
a{text-decoration: none !important;}

#appbar{
    background: #0f0c29; 
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29); 
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29); 
}


#cardcard{
    margin-left: 100px;
    max-width: 400px;
    height: 380px;
    border-radius: 40px;
}

#cardContent{
    background: #ECE9E6; 
    background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6); 
    background: linear-gradient(to right, #FFFFFF, #ECE9E6); 

}

#email,#password,#demo-multiple-checkbox,#demo-multiple-checkbox{
    background: white;
}


.card-body{
    padding: 2rem 0 !important;
}

.card-text{
    padding: 0.3rem 1rem;
    font-size: 1rem;
}

.overflow{
    overflow: hidden;
}

.card-img-top{
    transition: all 1s ease-in-out;
}

.card-img-top:hover{
    transform: scale(2);
}

.card:hover{
    box-shadow: 5px 10px 20px 1px rgba(255, 255, 255, 0.273) !important;
    transition: all 0.7s linear;
}

.logo{
    height: 40px;
    margin-top: 20px;
}

footer{
    
    padding: 1em 0;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
}